body {
  height: auto;
  background-color: #505050;
}

.zombie {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    background-color: #505050;
}

.zombiemap {
    overflow: hidden;
    width: 70vw;
    height: 70vh;
    flex-grow: 1;
}

.zombiesettings {
    padding: 4px;
    width: auto;
    color: white;
}

.zombelinebreak {
    width: 100%;
}

.zombieslider {
    background: white;
    width: 280px;
    margin: 10px;
}

.zombiesettingsslider {

}
