.zombie {
  margin: 10px;
  background-color: white;
  display: flex;
}
.zombiemap {
    overflow: hidden;
    max-width: 800px;
    height: 80vh;
    width: auto;
    flex-grow: 1;
}
.zombiesettings{
  padding: 2px;
}
